*.dll
DataModel
*.pbix
.vscode
bin
obj
test*
*.pyc
pbi
**/*.egg-info
**/dist
debug.log
!Microsoft.AnalysisServices.AdomdClient.dll
*.pbiviz
*.zip
creds.json
token.txt

.terraform*
terraform.tfstate*
*infrastructure.json
lib/extract_library/AnalysisServicesWorkspaces