*.dll
DataModel
*.pbix
.vscode
bin
obj
test*
*.pyc
pbi
**/*.egg-info
**/dist
debug.log
!Microsoft.AnalysisServices.AdomdClient.dll
*.pbiviz
*.zip
creds.json
lib/deployment/token.txt

.terraform*
terraform.tfstate*
docker-assets/infrastructure.json